default_language_version:
  python: python3.11

# pre-commit hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    - id: check-symlinks
    - id: check-yaml
      name: Check YAML
    - id: check-json
    - id: destroyed-symlinks
    - id: end-of-file-fixer
    - id: requirements-txt-fixer
      name: Fix requirements*.txt
      files: ^requirements.*\.txt$
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
    - id: pyupgrade
      args: ["--py39-plus"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.14.10'

    hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
    - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        name: "MyPy"
        exclude: ^tests/.*$
        args: [--check-untyped-defs]
